div{
    background-color: lightsalmon;
}
h1{
    text-transform: uppercase;
    font-size: 40px;
    font-family: arial;
    text-align: center;
}
.one,.two,.three,.four,.five,.six,.seven{
    font-family: arial;
    font-size: 25px;
    text-transform: uppercase;
    background-color: grey;
}
.list{
    margin-left: 20px;
}